In [1]:
%pip install pyarrow
# or
%pip install fastparquet

Requirement already satisfied: pyarrow in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (19.0.1)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: fastparquet in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2024.11.0)
Requirement already satisfied: pandas>=1.5.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fastparquet) (2.2.3)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fastparquet) (2.1.1)
Requirement already satisfied: cramjam>=2.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fastparquet) (2.9.1)
Requirement already satisfied: fsspec in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fastparquet) (2025.3.2)
Requirement already satisfied: packaging in /Users/harshshah/Library/Python/3.12/lib/python/site-packages (from fastparquet) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/harshshah/Library/Python/3.12/lib/python/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/harshshah/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [4]:
b_aqi = pd.read_parquet('aggbostonaqi.snappy.parquet')
b_aqi.head()

         date  avg_us_aqi
0  2023-05-01       113.0
1  2023-05-18       141.0
2  2024-01-19        51.0
3  2024-07-14       126.0
4  2024-08-20        50.0

In [5]:
b_h_pol_events = pd.read_parquet('aggbostonhighpollutionevents.snappy.parquet')
b_h_pol_events.head()

         date  high_pollution_events
0  2023-05-01                     13
1  2023-05-18                     18
2  2024-01-19                      0
3  2024-07-14                     13
4  2024-08-20                      3

In [6]:
b_h_visit_events = pd.read_parquet('aggbostonhighvisitevents.snappy.parquet')
b_h_visit_events.head()

,Location,ed_trends_covid,ed_trends_influenza,ed_trends_rsv,week_end,total_visits_covid,total_visits_influenza,total_visits_rsv,total_visits_smoothed_combined,total_visits_smoothed_covid,total_visits_smoothed_influenza,total_visits_smoothed_rsv,high_visits_covid,high_visits_influenza,high_visits_rsv
0,Boston,Decreasing,Decreasing,Decreasing,2023-02-18,1596500,193750,54250,1883250.0,1573250.0,217000.0,62000.0,1,0,1
1,Boston,Decreasing,Decreasing,Decreasing,2023-03-04,1085000,108500,93000,1325250.0,1116000.0,139500.0,54250.0,1,0,1
2,Boston,Decreasing,Increasing,Decreasing,2023-03-18,968750,186000,46500,1061750.0,914500.0,139500.0,46500.0,1,0,1
3,Boston,Decreasing,No Change,Decreasing,2023-04-01,798250,162750,31000,1015250.0,806000.0,162750.0,31000.0,1,0,1
4,Boston,Decreasing,Decreasing,Decreasing,2023-04-08,790500,147250,23250,906750.0,713000.0,155000.0,23250.0,1,0,1

In [7]:
b_pollutants = pd.read_parquet('aggbostonpollutants.snappy.parquet')
b_pollutants.head()

         date  avg_co  avg_no2  avg_o3  avg_so2  avg_pm2_5  avg_pm10
0  2023-05-01  234.55     6.23   76.26     1.78       3.34      3.84
1  2023-05-18  279.54    13.80   87.68     3.32       3.66      4.51
2  2024-01-19  381.35    27.39   49.04     5.35       7.43      9.26
3  2024-07-14  294.57    14.11  113.75     2.94       9.08      9.75
4  2024-08-20  309.03    11.25   44.53     2.27       2.63      3.11

In [11]:
h_aqi = pd.read_parquet('agghoustonaqi.snappy.parquet')
h_aqi.head()

         date  avg_us_aqi
0  2023-05-01       119.0
1  2023-05-18       125.0
2  2024-01-19        63.0
3  2024-07-14        38.0
4  2024-08-20       136.0

In [13]:
h_h_pol_events = pd.read_parquet('agghoustonhighpollutionevents.snappy.parquet')
h_h_pol_events.head()

         date  high_pollution_events
0  2023-05-01                     11
1  2023-05-18                     11
2  2024-01-19                      3
3  2024-07-14                      0
4  2024-08-20                     15

In [14]:
h_h_visit_events = pd.read_parquet('agghoustonhighvisitevents.snappy.parquet')
h_h_visit_events.head()

,week_end,ed_trends_covid,ed_trends_influenza,ed_trends_rsv,total_visits_covid,total_visits_influenza,total_visits_rsv,total_visits_smoothed_combined,total_visits_smoothed_covid,total_visits_smoothed_influenza,total_visits_smoothed_rsv,Location,high_visits_covid,high_visits_influenza,high_visits_rsv
0,2023-02-11,No Change,Decreasing,Decreasing,9116930,2905395,1051953,12122511.0,9066837.0,2604837.0,901674.0,Houston,1,1,1
1,2023-03-11,Decreasing,Decreasing,No Change,5209674,1302419,601116,6862744.0,5009302.0,1352512.0,701302.0,Houston,1,1,1
2,2023-04-08,Decreasing,No Change,Decreasing,3706883,1152139,450837,5410046.0,3807070.0,1102046.0,500930.0,Houston,1,1,1
3,2023-06-17,Increasing,Decreasing,No Change,1502791,701302,500930,2955488.0,1653070.0,801488.0,500930.0,Houston,1,1,1
4,2023-07-15,Increasing,No Change,Increasing,4157721,801488,551023,5460139.0,4358093.0,651209.0,601116.0,Houston,1,1,1

In [16]:
h_pollutants = pd.read_parquet('agghoustonpollutants.snappy.parquet')
h_pollutants.head()

         date  avg_co  avg_no2  avg_o3  avg_so2  avg_pm2_5  avg_pm10
0  2023-05-01  316.12    17.58   96.97     7.69       9.46     11.95
1  2023-05-18  436.43    23.16   80.41     4.53      16.78     19.55
2  2024-01-19  462.02    23.99   39.08     2.63      16.57     21.21
3  2024-07-14  298.46    15.32   26.76     3.32       3.86      5.03
4  2024-08-20  317.79    13.31   82.92     4.34       7.95     10.59

In [17]:
b_pro_ap = pd.read_parquet('bostonprocessedairpollution.snappy.parquet')
b_pro_ap.head()

,co,nh3,no,no2,o3,pm10,pm2_5,so2,aqi,Location,...,date_time,o3_8hr,o3_1hr,pm2_5_24hr,pm10_24hr,co_8hr,so2_1hr,so2_24hr,no2_1hr,us_aqi
0,243.66,0.36,0,6.51,78.68,1.04,0.69,1.62,2,Boston,...,2023-02-01 07:00:00,78.68,78.68,0.690,1.040000,243.660,1.62,1.620000,6.51,128
1,243.66,0.34,0,6.43,78.68,0.97,0.66,1.77,2,Boston,...,2023-02-01 08:00:00,78.68,78.68,0.675,1.005000,243.660,1.77,1.695000,6.43,128
2,243.66,0.33,0,6.34,77.96,1.06,0.75,1.94,2,Boston,...,2023-02-01 09:00:00,78.44,77.96,0.700,1.023333,243.660,1.94,1.776667,6.34,127
3,243.66,0.34,0,6.34,77.96,1.14,0.82,2.09,2,Boston,...,2023-02-01 10:00:00,78.32,77.96,0.730,1.052500,243.660,2.09,1.855000,6.34,127
4,247.00,0.39,0,7.54,75.82,1.34,0.97,2.26,2,Boston,...,2023-02-01 11:00:00,77.82,75.82,0.778,1.110000,244.328,2.26,1.936000,7.54,125

In [18]:
b_pro_res = pd.read_parquet('bostonprocessedrespiratory.snappy.parquet')
b_pro_res.head()

,Location,ed_trends_covid,ed_trends_influenza,ed_trends_rsv,week_end,total_visits_covid,total_visits_influenza,total_visits_rsv,total_visits_smoothed_combined,total_visits_smoothed_covid,total_visits_smoothed_influenza,total_visits_smoothed_rsv
0,Boston,Decreasing,Decreasing,Decreasing,2023-02-18,1596500,193750,54250,1883250.0,1573250.0,217000.0,62000.0
1,Boston,Decreasing,Decreasing,Decreasing,2023-03-04,1085000,108500,93000,1325250.0,1116000.0,139500.0,54250.0
2,Boston,Decreasing,Increasing,Decreasing,2023-03-18,968750,186000,46500,1061750.0,914500.0,139500.0,46500.0
3,Boston,Decreasing,No Change,Decreasing,2023-04-01,798250,162750,31000,1015250.0,806000.0,162750.0,31000.0
4,Boston,Decreasing,Decreasing,Decreasing,2023-04-08,790500,147250,23250,906750.0,713000.0,155000.0,23250.0

In [21]:
h_pro_ap = pd.read_parquet('houstonprocessedairpollution.snappy.parquet')
h_pro_ap.head()

,co,nh3,no,no2,o3,pm10,pm2_5,so2,aqi,Location,...,date_time,o3_8hr,o3_1hr,pm2_5_24hr,pm10_24hr,co_8hr,so2_1hr,so2_24hr,no2_1hr,us_aqi
0,280.38,0.30,0,13.02,26.11,2.42,1.91,1.83,1,Houston,...,2023-02-01 07:00:00,26.110000,26.11,1.910,2.4200,280.380,1.83,1.830000,13.02,24
1,277.04,0.30,0,12.51,26.82,2.37,1.90,2.06,1,Houston,...,2023-02-01 08:00:00,26.465000,26.82,1.905,2.3950,278.710,2.06,1.945000,12.51,25
2,273.70,0.30,0,12.17,26.82,2.44,1.98,2.15,1,Houston,...,2023-02-01 09:00:00,26.583333,26.82,1.930,2.4100,277.040,2.15,2.013333,12.17,25
3,273.70,0.30,0,11.82,27.18,2.72,2.25,2.12,1,Houston,...,2023-02-01 10:00:00,26.732500,27.18,2.010,2.4875,276.205,2.12,2.040000,11.82,25
4,270.37,0.31,0,11.65,27.54,3.10,2.61,2.24,1,Houston,...,2023-02-01 11:00:00,26.894000,27.54,2.130,2.6100,275.038,2.24,2.080000,11.65,25

In [22]:
h_pro_res = pd.read_parquet('houstonprocessedrespiratory.snappy.parquet')
h_pro_res.head()

,week_end,ed_trends_covid,ed_trends_influenza,ed_trends_rsv,total_visits_covid,total_visits_influenza,total_visits_rsv,total_visits_smoothed_combined,total_visits_smoothed_covid,total_visits_smoothed_influenza,total_visits_smoothed_rsv,Location
0,2023-02-11,No Change,Decreasing,Decreasing,9116930,2905395,1051953,12122511.0,9066837.0,2604837.0,901674.0,Houston
1,2023-03-11,Decreasing,Decreasing,No Change,5209674,1302419,601116,6862744.0,5009302.0,1352512.0,701302.0,Houston
2,2023-04-08,Decreasing,No Change,Decreasing,3706883,1152139,450837,5410046.0,3807070.0,1102046.0,500930.0,Houston
3,2023-06-17,Increasing,Decreasing,No Change,1502791,701302,500930,2955488.0,1653070.0,801488.0,500930.0,Houston
4,2023-07-15,Increasing,No Change,Increasing,4157721,801488,551023,5460139.0,4358093.0,651209.0,601116.0,Houston

In [25]:
#Boston final 

# Step 1: Merge Boston air quality datasets
# Merge b_pollutants with b_aqi and b_h_pol_events on 'date'
boston_air_quality = b_pollutants.merge(b_aqi, on='date', how='left')
boston_air_quality = boston_air_quality.merge(b_h_pol_events, on='date', how='left')

# Step 2: Merge hospitalization datasets
# Merge processed respiratory and high visit events on 'Location' and 'week_end'
boston_hospitalization = b_pro_res.merge(b_h_visit_events, on=['Location', 'week_end'], how='left')

# Step 3: Prepare date columns for joining
boston_air_quality['date'] = pd.to_datetime(boston_air_quality['date'])
boston_hospitalization['week_end'] = pd.to_datetime(boston_hospitalization['week_end'])

# Step 4: Merge air quality and hospitalization data
# Use asof merge because pollution is daily, hospitalization is weekly
boston_final = pd.merge_asof(
    boston_hospitalization.sort_values('week_end'),
    boston_air_quality.sort_values('date'),
    left_on='week_end',
    right_on='date',
    direction='backward'
)

boston_final.info()
boston_final.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Location                           113 non-null    object
 1   ed_trends_covid_x                  113 non-null    object
 2   ed_trends_influenza_x              113 non-null    object
 3   ed_trends_rsv_x                    113 non-null    object
 4   week_end                           113 non-null    datetime64[ns]
 5   total_visits_covid_x               113 non-null    int32
 6   total_visits_influenza_x           113 non-null    int32
 7   total_visits_rsv_x                 113 non-null    int32
 8   total_visits_smoothed_combined_x   87 non-null     float64
 9   total_visits_smoothed_covid_x      113 non-null    float64
 10  total_visits_smoothed_influenza_x  113 non-null    float64
 11  total_visits_smoothed_rsv_x        113 non-null    float64
 12  ed_trends_covid_y                  113 non-null    object
 13  ed_trends_influenza_y              113 non-null    object
 14  ed_trends_rsv_y                    113 non-null    object
 15  total_visits_covid_y               113 non-null    int32
 16  total_visits_influenza_y           113 non-null    int32
 17  total_visits_rsv_y                 113 non-null    int32
 18  total_visits_smoothed_combined_y   87 non-null     float64
 19  total_visits_smoothed_covid_y      113 non-null    float64
 20  total_visits_smoothed_influenza_y  113 non-null    float64
 21  total_visits_smoothed_rsv_y        113 non-null    float64
 22  high_visits_covid                  113 non-null    int32
 23  high_visits_influenza              113 non-null    int32
 24  high_visits_rsv                    113 non-null    int32
 25  date                               113 non-null    datetime64[ns]
 26  avg_co                             113 non-null    float64
 27  avg_no2                            113 non-null    float64
 28  avg_o3                             113 non-null    float64
 29  avg_so2                            113 non-null    float64
 30  avg_pm2_5                          113 non-null    float64
 31  avg_pm10                           113 non-null    float64
 32  avg_us_aqi                         113 non-null    float64
 33  high_pollution_events              113 non-null    int64
dtypes: datetime64[ns](2), float64(15), int32(9), int64(1), object(7)
memory usage: 26.2+ KB

,Location,ed_trends_covid_x,ed_trends_influenza_x,ed_trends_rsv_x,week_end,total_visits_covid_x,total_visits_influenza_x,total_visits_rsv_x,total_visits_smoothed_combined_x,total_visits_smoothed_covid_x,...,high_visits_rsv,date,avg_co,avg_no2,avg_o3,avg_so2,avg_pm2_5,avg_pm10,avg_us_aqi,high_pollution_events
0,Boston,Decreasing,Decreasing,Decreasing,2023-02-04,1929750,310000,85250,2201000.0,1922000.0,...,1,2023-02-04,254.93,5.88,70.90,1.10,0.83,1.16,88.0,13
1,Boston,Decreasing,Decreasing,Decreasing,2023-02-11,1751500,255750,69750,2053750.0,1774750.0,...,1,2023-02-11,300.13,13.02,61.63,2.18,1.77,2.45,80.0,0
2,Boston,Decreasing,Decreasing,Decreasing,2023-02-18,1596500,193750,54250,1883250.0,1573250.0,...,1,2023-02-18,282.88,12.19,72.58,3.16,2.09,2.79,99.0,15
3,Boston,Decreasing,Decreasing,No Change,2023-02-25,1340750,193750,54250,1604250.0,1325250.0,...,1,2023-02-25,343.95,22.45,63.05,4.32,5.84,7.12,80.0,8
4,Boston,Decreasing,Decreasing,Decreasing,2023-03-04,1085000,108500,93000,1325250.0,1116000.0,...,1,2023-03-04,250.76,5.39,93.13,0.94,1.26,1.56,145.0,18

In [27]:
# clean boston_final 

# List of COVID columns to drop (both x and y)
covid_columns_to_drop = [
    'ed_trends_covid_x', 'ed_trends_covid_y',
    'total_visits_covid_x', 'total_visits_covid_y',
    'total_visits_smoothed_covid_x', 'total_visits_smoothed_covid_y',
    'high_visits_covid'
]

# Drop all covid related columns
boston_final_cleaned = boston_final.drop(columns=covid_columns_to_drop)

# Now drop _y columns (since we keep _x version)
columns_to_drop = [col for col in boston_final_cleaned.columns if col.endswith('_y')]

boston_final_cleaned = boston_final_cleaned.drop(columns=columns_to_drop)

# Now rename _x columns to normal names
boston_final_cleaned.columns = [col.replace('_x', '') for col in boston_final_cleaned.columns]

boston_final_cleaned.info()
boston_final_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Location                         113 non-null    object
 1   ed_trends_influenza              113 non-null    object
 2   ed_trends_rsv                    113 non-null    object
 3   week_end                         113 non-null    datetime64[ns]
 4   total_visits_influenza           113 non-null    int32
 5   total_visits_rsv                 113 non-null    int32
 6   total_visits_smoothed_combined   87 non-null     float64
 7   total_visits_smoothed_influenza  113 non-null    float64
 8   total_visits_smoothed_rsv        113 non-null    float64
 9   high_visits_influenza            113 non-null    int32
 10  high_visits_rsv                  113 non-null    int32
 11  date                             113 non-null    datetime64[ns]
 12  avg_co                           113 non-null    float64
 13  avg_no2                          113 non-null    float64
 14  avg_o3                           113 non-null    float64
 15  avg_so2                          113 non-null    float64
 16  avg_pm2_5                        113 non-null    float64
 17  avg_pm10                         113 non-null    float64
 18  avg_us_aqi                       113 non-null    float64
 19  high_pollution_events            113 non-null    int64
dtypes: datetime64[ns](2), float64(10), int32(4), int64(1), object(3)
memory usage: 16.0+ KB

,Location,ed_trends_influenza,ed_trends_rsv,week_end,total_visits_influenza,total_visits_rsv,total_visits_smoothed_combined,total_visits_smoothed_influenza,total_visits_smoothed_rsv,high_visits_influenza,high_visits_rsv,date,avg_co,avg_no2,avg_o3,avg_so2,avg_pm2_5,avg_pm10,avg_us_aqi,high_pollution_events
0,Boston,Decreasing,Decreasing,2023-02-04,310000,85250,2201000.0,286750.0,77500.0,0,1,2023-02-04,254.93,5.88,70.90,1.10,0.83,1.16,88.0,13
1,Boston,Decreasing,Decreasing,2023-02-11,255750,69750,2053750.0,255750.0,69750.0,0,1,2023-02-11,300.13,13.02,61.63,2.18,1.77,2.45,80.0,0
2,Boston,Decreasing,Decreasing,2023-02-18,193750,54250,1883250.0,217000.0,62000.0,0,1,2023-02-18,282.88,12.19,72.58,3.16,2.09,2.79,99.0,15
3,Boston,Decreasing,No Change,2023-02-25,193750,54250,1604250.0,178250.0,62000.0,0,1,2023-02-25,343.95,22.45,63.05,4.32,5.84,7.12,80.0,8
4,Boston,Decreasing,Decreasing,2023-03-04,108500,93000,1325250.0,139500.0,54250.0,0,1,2023-03-04,250.76,5.39,93.13,0.94,1.26,1.56,145.0,18

In [28]:
boston_final_cleaned.to_parquet('Boston_Model_Data.parquet')

In [29]:
# Hosuton Final

# Step 1: Merge Boston air quality datasets
# Merge h_pollutants with h_aqi and h_h_pol_events on 'date'
houston_air_quality = h_pollutants.merge(h_aqi, on='date', how='left')
houston_air_quality = houston_air_quality.merge(h_h_pol_events, on='date', how='left')

# Step 2: Merge hospitalization datasets
# Merge processed respiratory and high visit events on 'Location' and 'week_end'
houston_hospitalization = h_pro_res.merge(h_h_visit_events, on=['Location', 'week_end'], how='left')

# Step 3: Prepare date columns for joining
houston_air_quality['date'] = pd.to_datetime(houston_air_quality['date'])
houston_hospitalization['week_end'] = pd.to_datetime(houston_hospitalization['week_end'])

# Step 4: Merge air quality and hospitalization data
# Use asof merge because pollution is daily, hospitalization is weekly
houston_final = pd.merge_asof(
    houston_hospitalization.sort_values('week_end'),
    houston_air_quality.sort_values('date'),
    left_on='week_end',
    right_on='date',
    direction='backward'
)

houston_final.info()
houston_final.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   week_end                           113 non-null    datetime64[ns]
 1   ed_trends_covid_x                  113 non-null    object
 2   ed_trends_influenza_x              113 non-null    object
 3   ed_trends_rsv_x                    113 non-null    object
 4   total_visits_covid_x               113 non-null    int32
 5   total_visits_influenza_x           113 non-null    int32
 6   total_visits_rsv_x                 113 non-null    int32
 7   total_visits_smoothed_combined_x   87 non-null     float64
 8   total_visits_smoothed_covid_x      113 non-null    float64
 9   total_visits_smoothed_influenza_x  113 non-null    float64
 10  total_visits_smoothed_rsv_x        113 non-null    float64
 11  Location                           113 non-null    object
 12  ed_trends_covid_y                  113 non-null    object
 13  ed_trends_influenza_y              113 non-null    object
 14  ed_trends_rsv_y                    113 non-null    object
 15  total_visits_covid_y               113 non-null    int32
 16  total_visits_influenza_y           113 non-null    int32
 17  total_visits_rsv_y                 113 non-null    int32
 18  total_visits_smoothed_combined_y   87 non-null     float64
 19  total_visits_smoothed_covid_y      113 non-null    float64
 20  total_visits_smoothed_influenza_y  113 non-null    float64
 21  total_visits_smoothed_rsv_y        113 non-null    float64
 22  high_visits_covid                  113 non-null    int32
 23  high_visits_influenza              113 non-null    int32
 24  high_visits_rsv                    113 non-null    int32
 25  date                               113 non-null    datetime64[ns]
 26  avg_co                             113 non-null    float64
 27  avg_no2                            113 non-null    float64
 28  avg_o3                             113 non-null    float64
 29  avg_so2                            113 non-null    float64
 30  avg_pm2_5                          113 non-null    float64
 31  avg_pm10                           113 non-null    float64
 32  avg_us_aqi                         113 non-null    float64
 33  high_pollution_events              113 non-null    int64
dtypes: datetime64[ns](2), float64(15), int32(9), int64(1), object(7)
memory usage: 26.2+ KB

,week_end,ed_trends_covid_x,ed_trends_influenza_x,ed_trends_rsv_x,total_visits_covid_x,total_visits_influenza_x,total_visits_rsv_x,total_visits_smoothed_combined_x,total_visits_smoothed_covid_x,total_visits_smoothed_influenza_x,...,high_visits_rsv,date,avg_co,avg_no2,avg_o3,avg_so2,avg_pm2_5,avg_pm10,avg_us_aqi,high_pollution_events
0,2023-02-04,No Change,Decreasing,Decreasing,9818232,2805209,951767,12122511.0,8866465.0,2755116.0,...,1,2023-02-04,488.44,34.04,28.44,4.84,18.18,22.98,64.0,1
1,2023-02-11,No Change,Decreasing,Decreasing,9116930,2905395,1051953,12122511.0,9066837.0,2604837.0,...,1,2023-02-11,276.35,11.34,69.74,2.59,5.59,6.46,88.0,12
2,2023-02-18,Decreasing,Decreasing,Decreasing,7914697,2103907,901674,11621581.0,8565906.0,2304279.0,...,1,2023-02-18,321.83,24.24,46.76,4.93,6.68,8.85,54.0,4
3,2023-02-25,Decreasing,Decreasing,No Change,7513953,2204093,801488,10068697.0,7313581.0,1903535.0,...,1,2023-02-25,276.90,17.89,40.51,5.07,12.54,30.96,53.0,0
4,2023-03-04,Decreasing,Decreasing,No Change,5860883,1252326,551023,8265348.0,5961069.0,1552884.0,...,1,2023-03-04,431.84,31.36,44.54,5.94,14.74,21.33,88.0,7

In [30]:
# clean houston_final 

# List of COVID columns to drop (both x and y)
covid_columns_to_drop = [
    'ed_trends_covid_x', 'ed_trends_covid_y',
    'total_visits_covid_x', 'total_visits_covid_y',
    'total_visits_smoothed_covid_x', 'total_visits_smoothed_covid_y',
    'high_visits_covid'
]

# Drop all covid related columns
houston_final_cleaned = houston_final.drop(columns=covid_columns_to_drop)

# Now drop _y columns (since we keep _x version)
columns_to_drop = [col for col in houston_final_cleaned.columns if col.endswith('_y')]

houston_final_cleaned = houston_final_cleaned.drop(columns=columns_to_drop)

# Now rename _x columns to normal names
houston_final_cleaned.columns = [col.replace('_x', '') for col in houston_final_cleaned.columns]

houston_final_cleaned.info()
houston_final_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   week_end                         113 non-null    datetime64[ns]
 1   ed_trends_influenza              113 non-null    object
 2   ed_trends_rsv                    113 non-null    object
 3   total_visits_influenza           113 non-null    int32
 4   total_visits_rsv                 113 non-null    int32
 5   total_visits_smoothed_combined   87 non-null     float64
 6   total_visits_smoothed_influenza  113 non-null    float64
 7   total_visits_smoothed_rsv        113 non-null    float64
 8   Location                         113 non-null    object
 9   high_visits_influenza            113 non-null    int32
 10  high_visits_rsv                  113 non-null    int32
 11  date                             113 non-null    datetime64[ns]
 12  avg_co                           113 non-null    float64
 13  avg_no2                          113 non-null    float64
 14  avg_o3                           113 non-null    float64
 15  avg_so2                          113 non-null    float64
 16  avg_pm2_5                        113 non-null    float64
 17  avg_pm10                         113 non-null    float64
 18  avg_us_aqi                       113 non-null    float64
 19  high_pollution_events            113 non-null    int64
dtypes: datetime64[ns](2), float64(10), int32(4), int64(1), object(3)
memory usage: 16.0+ KB

,week_end,ed_trends_influenza,ed_trends_rsv,total_visits_influenza,total_visits_rsv,total_visits_smoothed_combined,total_visits_smoothed_influenza,total_visits_smoothed_rsv,Location,high_visits_influenza,high_visits_rsv,date,avg_co,avg_no2,avg_o3,avg_so2,avg_pm2_5,avg_pm10,avg_us_aqi,high_pollution_events
0,2023-02-04,Decreasing,Decreasing,2805209,951767,12122511.0,2755116.0,1001860.0,Houston,1,1,2023-02-04,488.44,34.04,28.44,4.84,18.18,22.98,64.0,1
1,2023-02-11,Decreasing,Decreasing,2905395,1051953,12122511.0,2604837.0,901674.0,Houston,1,1,2023-02-11,276.35,11.34,69.74,2.59,5.59,6.46,88.0,12
2,2023-02-18,Decreasing,Decreasing,2103907,901674,11621581.0,2304279.0,851581.0,Houston,1,1,2023-02-18,321.83,24.24,46.76,4.93,6.68,8.85,54.0,4
3,2023-02-25,Decreasing,No Change,2204093,801488,10068697.0,1903535.0,751395.0,Houston,1,1,2023-02-25,276.90,17.89,40.51,5.07,12.54,30.96,53.0,0
4,2023-03-04,Decreasing,No Change,1252326,551023,8265348.0,1552884.0,701302.0,Houston,1,1,2023-03-04,431.84,31.36,44.54,5.94,14.74,21.33,88.0,7

In [31]:
houston_final_cleaned.to_parquet('Houston_Model_Data.parquet')